.impact-descripition {
  h3 {
    padding: 35px 0 10px;
    color: $light-blue;
    font-size: 42px;
    margin: 0;
  }
}

.impact-details {
  .impact-row {
    display: inline-block;
    margin: 0 15px;

    .impact-img {
      background: $light-blue;
      border-radius: 50px;
      width: 100px;
      height: 100px;
      line-height: 100px;
      font-size: 46px;
      color: #ffffff;
      display: inline-block;
    }

    .impact-count {
      font-size: 42px;
      color: $blue;
      font-weight: bold;
    }

    .impact-title {
      font-size: 22px;
      color: $blue;
      text-transform: uppercase;
    }
  }
}

.biography-impact {
  margin: 40px 0 30px;

  .biography-image {
    .fa-circle-o {
      font-size: 60px;
      color: #1184cd;
    }
    .fa-minus {
      font-size: 50px;
      margin-top: -20px;
      color: #3c9e33;
    }
  }

  .biography-description {
    color: $grey;
  }
}

